$primary-color: #006aff; // 全局主色
$gray-color:#909399; // 灰色
$main-title-color: #1E2D55; // 主标题黑色
$header-bgc: #1d2030;    // 顶部 header bgc
$header-height: 68px;      // 顶部 header height
$main-padding: 30px;       // mainApp 的 padding
$main-bgc: #f9f9f9;      // mainApp 背景色
